<div class="section-wrapper">
  <section class="section about fade-section" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">
        Hi, I’m a second-year undergraduate student majoring in
        <a href="https://www.anyang.ac.kr/software/index.do"
          >Software Engineering</a
        >
        at Anyang University. I’ve been steadily building up my skills as a
        developer by working with a variety of languages and tools. Through C,
        C++, and Python, I’ve developed a solid understanding of data structures
        and algorithms. I also use Python for practical projects. I'm always
        trying to explore and learn as many languages, frameworks, and
        technologies as I can, to broaden both my understanding and flexibility
        as a developer.
      </p>
      <p class="paragraph-text justify-text">
        On the web development side, I enjoy creating simple websites and apps
        using HTML, CSS, and JavaScript, and I even run my own GitHub Pages blog
        to document what I learn. I always try to go beyond just making things
        work—writing clean, maintainable code and thinking from the user’s
        perspective are just as important to me. Every project is a chance to
        grow and get closer to becoming a well-rounded developer.
      </p>
      <p class="paragraph-text justify-text">
        I post my software projects on
        <a href="https://github.com/devRenio">GitHub</a>. My email address can
        be found at the
        <span class="extra-link"><a href="#extra">bottom</a></span> of this
        page.
      </p>
    </div>
  </section>
</div>
