<div class="blog-sidebar">
  <a href="/" class="fixed-button" aria-label="홈으로">◀</a>

  <a href="/blog/" class="blog_profile-pic-link"
    ><img src="/assets/images/pp.jpg" class="blog_profile-pic"
  /></a>
  <div class="blog-title" style="margin-bottom: 5px">
    <a href="/blog">Renio's Blog</a>
  </div>
  <div class="blog-punchline" style="margin-bottom: 15px">Kong Eunho</div>
  <ul class="category-list">
    <li class="category-list-li">
      <button class="category-toggle">▼</button
      ><a href="/blog?category=TIL">TIL</a>
      <ul class="subcategory-list">
        <li>
          <button class="category-toggle">▼</button
          ><a href="/blog?category=sqld">SQLD</a>
          <ul class="subcategory-list">
            <li>
              <a href="/blog?category=1_데이터_모델링의_이해"
                >1 데이터 모델링의 이해</a
              >
            </li>
            <li>
              <a href="/blog?category=2_데이터_모델과_SQL"
                >2 데이터 모델과 SQL</a
              >
            </li>
            <li>
              <a href="/blog?category=3_SQL_기본">3 SQL 기본</a>
            </li>
            <li>
              <a href="/blog?category=4_SQL_활용">4 SQL 활용</a>
            </li>
            <li>
              <a href="/blog?category=5_관리구문">5 관리구문</a>
            </li>
            <li>
              <a href="/blog?category=복원_기출문제">복원 기출문제</a>
            </li>
          </ul>
        </li>
        <li>
          <button class="category-toggle">▼</button
          ><a href="/blog?category=flutter">flutter</a>
          <ul class="subcategory-list">
            <li>
              <a href="/blog?category=1_Dart_기초">1 Dart 기초</a>
            </li>
            <li>
              <a href="/blog?category=2_Flutter_기초">2 Flutter 기초</a>
            </li>
            <li>
              <a href="/blog?category=3_앱_제작">3 앱 제작</a>
            </li>
            <li>
              <a href="/blog?category=4_심화_학습_및_배포"
                >4 심화 학습 및 배포</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="category-list-li">
      <button class="category-toggle">▼</button
      ><a href="/blog?category=LECTURE">LECTURE</a>
      <ul class="subcategory-list">
        <li><a href="/blog?category=인공지능개론">인공지능개론</a></li>
        <li>
          <a href="/blog?category=객체지향프로그래밍II">객체지향프로그래밍II</a>
        </li>
        <li><a href="/blog?category=웹서비스응용">웹서비스응용</a></li>
        <li><a href="/blog?category=서버프로그래밍">서버프로그래밍</a></li>
      </ul>
    </li>
    <li class="category-list-li">
      <button class="category-toggle">▼</button
      ><a href="/blog?category=TECH">TECH</a>
      <ul class="subcategory-list">
        <li><a href="/blog?category=research">기술조사</a></li>
      </ul>
    </li>
    <li class="category-list-li">
      <button class="category-toggle">▼</button
      ><a href="/blog?category=COTE">COTE</a>
      <ul class="subcategory-list">
        <li><a href="/blog?category=beakjoon">백준</a></li>
      </ul>
    </li>
    <li class="category-list-li">
      <button class="category-toggle">▼</button
      ><a href="/blog?category=PROJECT">PROJECT</a>
      <ul class="subcategory-list"></ul>
    </li>
  </ul>
</div>
