<div class="section-wrapper">
  <section class="section extra fade-section" id="extra">
    <div>
      <div class="section-heading" id="chat-text">Contact</div>
      <p class="paragraph-text justify-text">
        If you're looking for someone to collaborate with on open source or side
        projects, feel free to reach out. Whether it's a technical discussion, a
        new idea, or just a casual chat about development—I'm open to it.
      </p>
      <p class="paragraph-text justify-text">
        I'm always open to study groups, collaborations, code reviews, or
        experimental development in any form. If you have something in mind or
        just want to connect, drop me a line at
        <a href="mailto:eunho9684@naver.com">eunho9684@naver.com</a>
      </p>

      <div class="extra-links">
        <span class="hint--bottom bottom-link" aria-label="Email">
          <a href="mailto:eunho9684@naver.com">
            <i class="head-icon fas fa-envelope"></i>
          </a>
        </span>

        <span class="hint--bottom bottom-link" aria-label="GitHub">
          <a href="https://github.com/devrenio" target="_blank">
            <i class="head-icon fab fa-github"></i>
          </a>
        </span>

        <span class="hint--bottom bottom-link" aria-label="Blog">
          <a href="/blog" target="_blank">
            <i class="head-icon fas fa-comment"></i>
          </a>
        </span>
      </div>
    </div>
  </section>
</div>
