<div class="section-wrapper">
  <section class="section extra fade-section" id="extra">
    <div>
      <div class="section-heading" id="chat-text">Contact</div>

      <p class="paragraph-text justify-text">
        오픈소스 협업이나 사이드 프로젝트 제안은 언제든 환영합니다. 기술적인
        토론이나 새로운 아이디어 공유, 개발에 관한 가벼운 대화도 좋습니다.
      </p>

      <p class="paragraph-text justify-text">
        스터디나 코드 리뷰, 도전적인 프로젝트 등 다양한 방식의 교류를
        지향합니다. 협업 제안이나 궁금한 점이 있다면 아래 이메일로 언제든지 연락
        부탁드립니다.
        <a href="mailto:eunho9684@naver.com">eunho9684@naver.com</a>
      </p>

      <div class="extra-links">
        <span class="hint--bottom bottom-link" aria-label="Email">
          <a href="mailto:eunho9684@naver.com">
            <i class="head-icon fas fa-envelope"></i>
          </a>
        </span>

        <span class="hint--bottom bottom-link" aria-label="GitHub">
          <a href="https://github.com/devrenio" target="_blank">
            <i class="head-icon fab fa-github"></i>
          </a>
        </span>

        <span class="hint--bottom bottom-link" aria-label="Blog">
          <a href="/blog" target="_blank">
            <i class="head-icon fas fa-comment"></i>
          </a>
        </span>
      </div>
    </div>
  </section>
</div>
