<section class="head fade-section" id="nav">
  <div class="head-inner-wrap" id="top">
    <div class="profile-pic-div animated">
      <a href="#about" class="profile-pic-link"
        ><img src="assets/images/pp.jpg" class="profile-pic"
      /></a>
    </div>
    <div class="head-name head-title animated2" id="head-name">devRenio</div>
    <div class="head-punchline animated2">Kong Eunho</div>
    <div class="head-menu-wrap">
      <a class="semi-transparent-button with-border nav-links" href="#about"
        >ABOUT</a
      >
      <a class="semi-transparent-button with-border nav-links" href="#skills"
        >SKILLS</a
      >
      <a class="semi-transparent-button with-border nav-links" href="#projects"
        >PROJECTS</a
      >
      <a
        class="semi-transparent-button with-border nav-links"
        href="#blog-posts"
        >BLOG</a
      >
      <a class="semi-transparent-button with-border nav-links" href="#extra"
        >CONTACT</a
      >
    </div>
  </div>
</section>
