<div class="section-wrapper">
  <section class="section skills" id="skills">
    <div>
      <div class="section-heading" id="skills-text">Skills</div>
      <div class="skills-grid">
        <div class="what-i-do">
          <h3 class="center-align skills-subsection">Summary</h3>
          <p class="paragraph-text center-align">
            Proficient in C, C++, and Python with solid experience in algorithms
            and system programming. Also experienced in web development using
            HTML, CSS, and JavaScript. Comfortable with GitHub for version
            control and actively exploring new tools and technologies to expand
            my skillset.
          </p>
        </div>
        <div class="technical-skills">
          <h3 class="center-align skills-subsection">Technical</h3>
          <div class="progress-bars">
            <!-- Each skillbar component here -->
            <!-- Snipped for brevity -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
