<head>
  <title>Renio's Blog</title>
  <link rel="stylesheet" href="/assets/css/blog.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<div class="blog-wrapper">
  <div class="blog-sidebar">
    <a href="/" class="fixed-button" aria-label="홈으로">
      <img
        src="/assets/images/left-home-button.png"
        width="20px"
        height="25px"
        class="home-button"
      />
    </a>

    <a href="/blog/" class="blog_profile-pic-link"
      ><img src="/assets/images/pp.jpg" class="blog_profile-pic"
    /></a>
    <div class="blog-title" style="margin-bottom: 5px">
      <a href="/blog">Renio's Blog</a>
    </div>
    <div class="blog-punchline" style="margin-bottom: 15px">Kong Eunho</div>
    <ul class="category-list">
      <li>
        <button class="category-toggle">📁 개발</button>
        <ul class="subcategory-list">
          <li><a href="/blog/dev/frontend">프론트엔드</a></li>
          <li><a href="/blog/dev/backend">백엔드</a></li>
        </ul>
      </li>
      <li>
        <button class="category-toggle">📁 일상</button>
        <ul class="subcategory-list">
          <li><a href="/blog/life/diary">다이어리</a></li>
          <li><a href="/blog/life/study">공부기록</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="blog-main">
    <p class="blog-page-title">{{ page.title }}</p>
    <p class="blog-meta">
      {{ page.date | date: "%Y년 %m월 %d일 %H시" }} {% if page.categories %}
      <br />
      카테고리 - {{ page.categories | join: ", " }} {% endif %}
    </p>
    {{ content }}
  </div>
</div>

<footer class="footer footer-text">devRenio &copy; 2025</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/main.js"></script>
